body {
    background-image: url("portfolioback.jpeg");
    font-family: 'Teko', sans-serif;
    color: aliceblue;
}
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
width: 50px;
height: 50px;
opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;

}
.menu-wrap .hamburger > div:after{
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);

}



.navbar-nav {

    margin-left: 35rem;
    overflow: hidden;

}

.navbar-nav li {
    list-style: none;
    float: left;
}
.navbar-nav li a:hover {
    border-bottom:2px solid yellow;

}
#link-info{
    color: #05386b;
    font-family: 'Anton', sans-serif;
}
.header-logo{
   font-size: 3rem;
   font-family: 'Anton', sans-serif;
}
.main-intro {
    margin-top: 100px;
}
.main-content {
    margin-top: 12rem;
    margin-left: 20rem;
}

.wrapper1 {
    background: #36494E;
    margin-bottom: 0 auto;
}
.main-title {
    font-size: 4rem;
    color: aliceblue;
}
#main-subtitle {
    color: aliceblue;
}

#work {
    margin-top: 0;
    height: 500px;
    background: #FBD1A2;

}
.arrow-scroll {
    margin-top: 10rem;
    margin-left: 45rem;
}
.about-heading {
    margin-top: 11rem;
    margin-left: 40rem;
    color: #05386b;
    font-family: 'Anton', sans-serif;

}
.intro-text{
    font-size: 35px;
    color: aliceblue;
}
.interest-heading {
    margin-top: 3rem;
}
.interest-items{
    font-size: 30px;
}
.tech-heading {
    color: #05386b;
    margin-left: 25rem;
    margin-top: 5rem;
    font-family: 'Anton', sans-serif;
}
.logos {
    font-size: 8rem;
}
.tech{
    margin-top: 3rem;
    margin-left: 4rem;
    overflow: hidden;
}
.tech li{
    list-style: none;
    display: inline;
    padding: 3rem;
    padding-top: 3rem;
}
#work-heading {
    color: #05386b;
    margin-left: 31rem;
    margin-top: 0rem;
    font-family: 'Anton', sans-serif;
}
#resume-info {
    color: #05386b;
    margin-left: 28rem;
    margin-top: 0rem;
    font-family: 'Anton', sans-serif;
}
.resume-text {
    margin-top: 5rem;
    margin-left: 20rem;
    font-size: 3rem;
}
#contact-heading {
    color: #05386b;
    margin-top: 11rem;
    margin-left: 26rem;
    font-family: 'Anton', sans-serif;
}
.contact-info {
    margin-top: 3rem;
    margin-left: 24rem;
    font-size: 2rem;
}
.area2 {
    background: #A9CEF4;

}
.copy-info {
    color: #05386b;
    margin-left: 36rem;
    font-size: 2rem;
}
#contact {
    margin-bottom: 3rem;
}
#react {
    color: rgb(32, 110, 179);
}
#node {
    color: darkgreen;
}
#ht5 {
    color: orangered;
}
#sass{
    color: pink;
}
#js {
    color: yellow;
}
